& > nav {
	padding-bottom: $spacing-unit;
	
	ul {
		padding-left: 0;
		
		li {
			list-style: none;
			float: left;
			padding: 0 10px;
			
			&:first-child {
				padding-left: 0px;
			}
			a {
				color: $color-nil-white;
				&:hover {
					color: white;
					text-decoration: none;
				}
			}
			
			@include respond-to(xs) {
				&:first-child {
					margin-top: 0;
				}
				
				float: none;
				text-align: center;
				padding: 0;
				
				background-color: $color-brand-blue;
				font-weight: 500;
				margin-top: 10px;
				padding: 10px;
				
			}
		}
		@include respond-to(xs) {
			margin-left: 0;
			width: 100%;
		}
	}
	
	form {
		display: block;
		position: relative;
		
		input {
			width: 100%;
			padding-right: 17px;
			padding-left: 5px;
			@include respond-to(xs) {
				height: 40px;
				border: none;
				background-color: $color-brand-blue;
			}
			
		}
		button {
			position: absolute;
			top: 0;
			right: 17px;
			font-size: 15px;
			background: none;
			border: none;
			color: $color-heading-gray;
			@include respond-to(xs) {
				font-size: 20px;
				top: 3px;
				right: 20px;
				color: $color-nil-white;
			}
		}
		
		div {
			float: right;
			
			@include respond-to(xs) {
				padding-right: 0;
				float: none;
			}
		}
	}
}
