& > section {
	padding-top: 40px;
	
	& > header {
		border-bottom: 2px solid $color-heading-gray;
		margin-bottom: 20px;
		
		h1 {
			i {
				font-size: smaller;
				margin-right: 25px;
				margin-bottom: 5px;
			}
		}
		form {
			font-size: 36px;
			font-weight: 500;
			position: relative;
			i {
				position: absolute;
				bottom: 7px;
				left: 0;
				font-size: smaller;
				margin-right: 20px;
				margin-bottom: 5px;
			}
			input {
				padding-left: 54px;
				width: 100%;
				background: none;
				border: none;
				font-style: italic;
			}
			input:focus {
				outline-style: none;
			}
			button {
				position: absolute;
				bottom: 0;
				right: 0;
				background: none;
				border: none;
			}
		}
	}
	
	@import 'article';
	
	a {
		&:hover {
			text-decoration: none;
			color: $color-brand-blue;
		}
	}
	
	nav {
		margin-top: 20px;
		width: 100%;
		span {
			&.next, &.prev {
				display: block;
			}
		}
		div {
			max-width: 45%;
			@include respond-to(xs) {
				max-width: 100%;
			}
			h4 small {
				display: block;
				font-size: 12px;
				text-transform: uppercase;
			}
		}
		.next {
			float: right;
			text-align: right;
			@include respond-to(xs) {
				float: none;
				text-align: left;
			}
		}
		div.nav-links {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			max-width: 100%;
			width: 100%;
			.page-numbers {
				font-size: 18px;
				font-weight: 500;
				line-height: 1.1;
				text-align: center;
				flex-grow: 1;
				span.meta-nav {
					display: none;
				}
			}
			a.prev {
				text-align: left;
				flex-grow: 4;
			}
			a.next {
				text-align: right;
				flex-grow: 4;
			}
		}
	}
	}
}
